.card-center{
    text-align: center !important;
}
.card-header{
    text-align: end !important;
}
.bbtn{
    margin: auto;
    text-align: end;
}
.f_title{
    color: #20a8d8 !important   ;
}