<app-companydetail></app-companydetail>

<div class="app-body" *ngIf="!list && !addchalan">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12"> -->
                    <!-- <div class="card"> -->
                        <!-- <div class="card-header"> -->
                            <button type="button" class="btn btn-primary px-4 float-left" (click)="home()">Home</button>
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <div class="card-center">
                                    <h5>
                                        You dont any chalan, You want to add??
                                    </h5>
                                    <button type="button" class="btn btn-primary px-4" (click)="chalanadd(null)">Add
                                        Chalan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div *ngIf="addchalan">
    <div class="container">
        <form [formGroup]="addchalanform" (ngSubmit)="submitchalan()">
            <div class="row">
                <div class=" col-md-8">
                    <h2 class="f_title">{{title}} Chalan</h2>
                </div>
                <div class="bbtn col-md-4">  
                    <button type="button" class="btn btn-primary px-4" (click)="back()">Back
                    </button>
                </div>
            </div>
            <!-- start --> 
            <div class="form-group">  
                <label for="client">Client <span class="reqired">*</span></label>  
                <select formControlName="client" class="form-control" (change)="clientchange()">  
                    <option value = ''>Select Client</option>
                    <option value = '{{item.id}}' *ngFor="let item of clients">{{item.label}}</option>  
                </select>  
                <div class="error-messages">
                    <small style="text-align: left" *ngIf="addchalanform.get('client').hasError('required') && addchalanform.get('client').touched">
                        <label style="color: crimson">Client required</label>
                    </small>
                </div>
            </div>
            <div class="form-group">  
                <label for="client">Products<span class="reqired">*</span></label>  
                <p-table [value]="tableRowArray.controls" [responsive]="true">  
                    <ng-template pTemplate="header">  
                        <tr>  
                            <ng-container *ngFor="let col of columns">  
                                <td>{{col}}</td>  
                            </ng-container>  
                        </tr>  
                    </ng-template>  
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">  
                        <ng-container formArrayName="tableRowArray">  
                            <tr [formGroupName]="rowIndex">  
                                <td>  
                                    <input type="text" class="form-control form-control-sm" formControlName="name" />  
                                    <div class="text-danger" *ngIf="rowData.get('name').errors && (rowData.get('name').dirty || rowData.get('name').touched)">  
                                        <div *ngIf="rowData.get('name').errors?.required">Name is Required</div>  
                                    </div>  
                                </td>  
                                <td>  
                                    <input type="text" class="form-control form-control-sm" formControlName="address" />  
                                    <div class="text-danger" *ngIf="rowData.get('address').errors && (rowData.get('address').dirty || rowData.get('address').touched)">  
                                        <div *ngIf="rowData.get('address').errors?.required">Address is Required</div>  
                                    </div>  
                                </td>  
                                <td>  
                                    <input type="text" class="form-control form-control-sm" formControlName="salary" />  
                                    <div class="text-danger" *ngIf="rowData.get('salary').errors && (rowData.get('salary').dirty || rowData.get('salary').touched)">  
                                        <div *ngIf="rowData.get('salary').errors?.required">Salary is Required</div>  
                                        <div *ngIf="rowData.get('salary').errors?.pattern">Number Only, max 6 digits with max 2 decimals</div>  
                                    </div>  
                                </td>  
                                <td>  
                                    <div class="form-check">  
                                        <input type="checkbox" class="form-check-input" formControlName="isActive" />  
                                        <label class="form-check-label"></label>  
                                    </div>  
                                </td>  
                                <td>  
                                    <button type="button" class="btn btn-default" title="Delete" (click)="onDeleteRow(rowIndex)">  
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>  
                                    </button>  
                                </td>  
                            </tr>  
                        </ng-container>  
                    </ng-template>  
                </p-table>  
                <div class="card-footer">  
                    <button type="button" class="btn btn-primary btn-sm pull-left" (click)="addNewRow()">Add Row</button>  
                    <button type="button" class="btn btn-success btn-sm pull-right" title="Save">Save</button>  
                </div>
            </div>   
            <!-- end -->

            <div class="card-center">
                <button class="btn btn-primary px-4" type="submit" [disabled]="!addchalanform.valid">Submit</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="list && !addproduct">
    <div class="animated fadeIn">
        <!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <i class="fa fa-align-justify"></i> Combined All Table -->
                        <button type="button" class="btn btn-primary px-4 float-left" (click)="home()">Home</button>
                        <!-- <button type="button" class="btn btn-primary px-4" (click)="productadd(null)">Add Product</button> -->
                        <button type="button" class="btn btn-primary px-4" (click)="chalanadd(null)">Add Chalan</button>
                        <!-- <button>Add </button> -->
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of products; let i =index">
                                    <td>{{data.product_name}}</td>
                                    <td>
                                        <span class="badge badge-success"
                                            (click)="productadd(data.product_id)">View</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav> -->
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
</div>

<ngx-spinner></ngx-spinner>


