/* app-menus { */
    .grid-container {
        width: 100%;
        display: grid;
        /* grid-template-rows: auto; */
        grid-auto-rows: 100px;

        /* background-color: #2196F3; */
        /* padding: 10px; */
      }
    .menulist{
        width: 100%;
        border: 1px solid;
        text-align: center;
        height: 5rem;
        padding: 20px;    
        display: grid;
        grid-template-columns: auto auto auto;
    }
    @media only screen and (min-width: 768px) {
        .grid-container{
            /* width: 33.33%; */
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }
    }
/* } */