<!-- <div class="jumbotron text-center">
    <h1>{{companydeatail.company_name}}</h1>
    <p>{{companydeatail.company_address}}</p> 
</div> -->
<!-- <ngx-client></ngx-client> -->
  
<app-companydetail></app-companydetail>

<div class="container">
    <div class="grid-container">
      <div class="menulist" *ngFor="let menu of menus; let i = index" (click)="gotonext(menu.menuRoute)">
        <i class="fa fa-users"></i>
        <h3>{{menu.menuName}}</h3>
      </div>
    </div>
</div>