<app-companydetail></app-companydetail>

<div class="app-body" *ngIf="!list && !addproduct">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <div class="card-center">
                                    <h5>
                                        You dont any product, You want to add??
                                    </h5>
                                    <button type="button" class="btn btn-primary px-4" (click)="productadd(null)">Add
                                        Product</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div *ngIf="addproduct">
    <div class="container">
        <form [formGroup]="addproductform">
            <div class="row">
                <div class=" col-md-8">
                    <h2 class="f_title">{{title}} Product</h2>
                </div>
                <div class="bbtn col-md-4">  
                    <button type="button" class="btn btn-primary px-4" (click)="back()">Back
                    </button>
                </div>

            </div>
            <!-- <p class="text-muted">{{title}} client</p> -->
            <div class="form-group">
                <label for="proname">Product Name</label>
                <input type="text" class="form-control" formControlName="proname" placeholder="Product Name">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addproductform.get('proname').hasError('required') && addproductform.get('proname').touched">
                    <label style="color: crimson">Product name required</label></small>
            </div>
            <div class="form-group">
                <label for="prodesc">Product Description</label>
                <textarea class="form-control" placeholder="Product Description" formControlName="prodesc"></textarea>
                <!-- <input type="text" class="form-control" formControlName="pdesc" placeholder="Product Description"> -->
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addproductform.get('prodesc').hasError('required') && addproductform.get('prodesc').touched">
                    <label style="color: crimson">Product description required</label></small>
            </div>
            <div class="card-center">

                <button type="button" class="btn btn-primary px-4" (click)="onsubmitproduct()">Add
                    Product</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="list && !addproduct">
    <div class="animated fadeIn">
        <!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <i class="fa fa-align-justify"></i> Combined All Table -->
                        <button type="button" class="btn btn-primary px-4 float-left" (click)="home()">Home</button>
                        <button type="button" class="btn btn-primary px-4" (click)="productadd(null)">Add Product</button>
                        <!-- <button>Add </button> -->
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <!-- <th>Client Email</th> -->
                                    <!-- <th>Client Phone</th> -->
                                    <!-- <th>Status</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of products; let i =index">
                                    <td>{{data.product_name}}</td>
                                    <!-- <td>{{data.client_email}}</td> -->
                                    <!-- <td>{{data.client_phone}}</td> -->
                                    <td>
                                        <span class="badge badge-success"
                                            (click)="productadd(data.product_id)">View</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav> -->
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
</div>

<ngx-spinner></ngx-spinner>