<app-companydetail></app-companydetail>
<!-- <div *ngIf=!list>
    

</div> -->

<div class="app-body" *ngIf="!list && !addclient">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <div class="card-center">
                                    <h5>
                                        You dont any client, You want to add??
                                    </h5>
                                    <!-- <button type="button" class="btn btn-primary px-4" (click)="clientadd(null)">Home</button> -->
                                    <button type="button" class="btn btn-primary px-4" (click)="clientadd(null)">Add
                                        Client</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div *ngIf="addclient">
    <div class="container">
        <form [formGroup]="addclientform">
            <div class="row">
                <div class=" col-md-8">
                    <h2 class="f_title">{{title}} Client</h2>
                </div>
                <div class="bbtn col-md-4">
                    <button type="button" class="btn btn-primary px-4" (click)="back()">Back
                    </button>
                </div>

            </div>
            <!-- <p class="text-muted">{{title}} client</p> -->
            <div class="form-group">
                <label for="cname">Client Name</label>
                <input type="text" class="form-control" formControlName="cname" placeholder="Client Name">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('cname').hasError('required') && addclientform.get('cname').touched">
                    <label style="color: crimson">Client name required</label></small>
            </div>
            <div class="form-group">
                <label for="cpname">Contact person Name</label>
                <input type="text" class="form-control" formControlName="cpname" placeholder="Contact person Name">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('cpname').hasError('required') && addclientform.get('cpname').touched">
                    <label style="color: crimson">Contact person name required</label></small>
            </div>
            <div class="form-group">
                <label for="address">Client Address</label>
                <input type="text" class="form-control" placeholder="Address" formControlName="address">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('address').hasError('required') && addclientform.get('address').touched">
                    <label style="color: crimson">Client address required</label></small>
            </div>
            <div class="form-group">
                <label for="email">Client Email</label>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('email').hasError('required') && addclientform.get('email').touched">
                    <label style="color: crimson">Client email required</label></small>
            </div>
            <div class="form-group">
                <label for="phone">Client Phone</label>
                <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('phone').hasError('required') && addclientform.get('phone').touched">
                    <label style="color: crimson">Client phone required</label></small>
            </div>
            <div class="form-group">
                <label for="gst">Client GST</label>
                <input type="text" class="form-control" placeholder="GST" formControlName="gst">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('gst').hasError('required') && addclientform.get('gst').touched">
                    <label style="color: crimson">GST no required</label></small>
            </div>
            <div class="form-group">
                <label for="pan">Client PAN</label>
                <input type="text" class="form-control" placeholder="PAN" formControlName="pan">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('pan').hasError('required') && addclientform.get('pan').touched">
                    <label style="color: crimson">PAN no required</label></small>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" placeholder="State" formControlName="state">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('state').hasError('required') && addclientform.get('state').touched">
                    <label style="color: crimson">State required</label></small>
            </div>
            <div class="form-group">
                <label for="scod">State code</label>
                <input type="number" class="form-control" placeholder="State code" formControlName="scod">
            </div>
            <div class="error-messages">
                <small style="text-align: left"
                    *ngIf="addclientform.get('scod').hasError('required') && addclientform.get('scod').touched">
                    <label style="color: crimson">State code required</label></small>
            </div>
            <div class="card-center">
                <button type="button" class="btn btn-primary px-4" (click)="onsubmitclient()">Add
                    Client</button>
            </div>
        </form>
    </div>
</div>


<div *ngIf="list && !addclient">
    <div class="animated fadeIn">
        <!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <i class="fa fa-align-justify"></i> Combined All Table -->
                        <button type="button" class="btn btn-primary px-4 float-left" (click)="home()">Home</button>
                        <button type="button" class="btn btn-primary px-4" (click)="clientadd(null)">Add client</button>
                        <!-- <button>Add </button> -->
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Client Name</th>
                                    <th>Client Email</th>
                                    <th>Client Phone</th>
                                    <!-- <th>Status</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of clients; let i =index">
                                    <td>{{data.client_name}}</td>
                                    <td>{{data.client_email}}</td>
                                    <td>{{data.client_phone}}</td>
                                    <td>
                                        <span class="badge badge-success"
                                            (click)="clientadd(data.client_id)">View</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav> -->
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
</div>
<ngx-spinner></ngx-spinner>